


<!-- <div *ngFor="let tool of tools">
    <a [routerLink]="['/tools', tool.id]">
        <h1>Name: {{tool.name}}</h1>
    </a>
</div> -->

<div class="container pt-5">
    <div class="row-12">
            <br>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <p class="d-flex justify-content-end"> Tools  </p> 
          </div>
          <br>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <app-jm-reactive-form ></app-jm-reactive-form>
          </div>
          <br>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="container">
              <table class="table">
                <thead>
                  <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Checked Out
                    </th>
                    <th>
                        History
                    </th>
                    <th>
                        View
                    </th>
                  </tr>
                </thead>
                <tbody *ngIf="tools">
                  <tr *ngFor="let tool of tools">
                      <td>{{ tool.name }}</td>
                      <td>{{ tool.checkedInOutStatus }}</td>
                      <td>{{ tool.history }}</td>
                      <td><a [routerLink]="['/tools', tool.id]">
                        <i class="material-icons">
                                visibility
                                </i>
                        </a></td>
                  </tr>
                </tbody>
              </table> 
            </div>
          </div>
    </div>
</div>