<div class="container pt-5">
    <div class="row-12">
            <br>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <p class="d-flex justify-content-end"> Client  </p> 
          </div>
          <br>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1 *ngIf="jm_Client">The client is {{jm_Client.name}}</h1>
          </div>
          <br>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="container">
                <app-jm-reactive-form *ngIf="jm_Client" [itemToEdit]="jm_Client"></app-jm-reactive-form>
            </div>
          </div>
    </div>
</div>
