<form *ngIf="isVehicleShow">
    <div class="d-flex flex-row justify-content-around m-3">
        <div class="m-3">
            <label for="Name">Name:</label>
            <input type="text" name="Name" 
            (change)="handleVehicleNameChange($event)"
            [value]="vehicleToEdit ? vehicleToEdit.name : ''" >
        </div>
        <div class="m-3">
            <label for="regNumber">Registraton Number: </label>
            <input type="text" name="regNumber" 
            (change)="handleVehicleRegChange($event)"
            [value]="vehicleToEdit ? vehicleToEdit.regNumber : ''"
            >
        </div>
    </div>
    <br>
    <br>
    <hr>
    <div class="d-flex flex-row justify-content-around">
        <div class="m-3">
            <label for="kms">km's</label>
            <input type="text" name="kms"
            (change)="handleVehicleKms($event)"
            [value]="vehicleToEdit ? vehicleToEdit.kms : ''"
            >
        </div>
        <div class="m-3">
            <label for="assignedTo">Assigned To: </label>
            <select name="assignedTo" id="assignedTo"
            (change)="handleVehicleAssignedTo($event)">
            <option value="0">None</option>
            <option *ngFor="let user of jmUsers" [value]="user.id">
                {{user.name}} {{ user.lastName }}
            </option>
            </select>
        </div>
    </div>
    <br>
    <br>
    <hr>
    <br>
    <br>
    <div class="d-flex flex-row justify-content-around">
        <label for="vehicleImageUpload">Photo of Vehicle:</label>
        <input type="file" name="vehicleImageUpload"
            (change)="handleVehicleImageUpload($event)"
        >
    </div>

    <br>
    <br>
    <hr>
    <div>
        <button class="btn btn-primary m-3" (click)="handleVehicleCancel()">Cancel</button>
        <button class="btn btn-primary m-3" (click)="handleVehicleSave()" >Save</button>
    </div>
    <br>
    <br>
    <hr>
</form>

<button *ngIf="vehicleToEdit" (click)="handleVehicleDelete()" >Delete</button>
