<!-- <p>header works!</p> -->
<!-- <button type="button" class="btn btn-success">Header</button> -->

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#"><i class="material-icons">token</i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a title="Home" alt="Home" class="nav-link" [routerLink]="['/']"><i class="material-icons">home</i> Home</a>
            </li>
            <li class="nav-item">
              <a title="Jobs" alt="Home" class="nav-link" [routerLink]="['/jobs']"><i class="material-icons">work_history</i> Jobs</a>
            </li>
            <li class="nav-item">
              <a title="clients" alt="clients" class="nav-link" [routerLink]="['/clients']"><i class="material-icons">storefront</i> Clients</a>
            </li>
            <li class="nav-item">
              <a title="Tools" alt="Tools" class="nav-link" [routerLink]="['/tools']"><i class="material-icons">construction</i> Tools</a>
            </li>
            <li class="nav-item">
                <a title="Vehicles" alt="Vehicles" class="nav-link" [routerLink]="['/vehicles']"><i class="material-icons">local_shipping</i> Vehicles</a>
            </li>
            <li class="nav-item">
                <a title="Settings" alt="Settings" class="nav-link" [routerLink]="['/current_user_settings']"><i class="material-icons">settings</i> Settings</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>


  <!-- <a [routerLink]="['/']">
    <i class="material-icons">home</i>
</a>

<a [routerLink]="['/jobs']">
    <i class="material-icons">work_history</i>
</a>

<a [routerLink]="['/clients']">
    <i class="material-icons">storefront</i>
</a>

<a [routerLink]="['/tools']">
    <i class="material-icons">construction</i>
</a>

<a [routerLink]="['/vehicles']">
    <i class="material-icons">local_shipping</i>
</a>

<a [routerLink]="['/users']">
    <i class="material-icons">group</i>
</a>

<a [routerLink]="['/current_user_settings']">
    <i class="material-icons">settings</i>
</a> -->

  
