<div *ngIf="isToolShow">

    <div class="d-flex flex-row justify-content-around">
        <div>
            <label for="toolsName">Name</label>
            <input type="text" name="toolsName" (change)="handleToolNameChange($event)" [value]="jmToolToEdit ? jmToolToEdit.name : ''">
        </div>
        <div>
            <label for="ToolAssignedTo">Assigned To</label>
            <select name="JMUsers" id="JMUsers" (change)="handleSelectAssignedTo($event)">
                <option [value]="0">None</option>
                <option *ngFor="let jmuser of JMUsers" [value]="jmuser.id">
                    {{jmuser.name}} {{jmuser.lastName}}
                </option>
            </select>
        </div>
    </div>
    <br>
    <br>
    <hr>
    <div class="d-flex flex-row justify-content-around">
        <label for="ToolImage">Photo Of Tool</label>
        <input type="file" (change)="handleFileUpload($event)" name="ToolImage">
    </div>
    <hr>
    <br>
    <div class="d-flex flex-row justify-content-around">
        <button class="btn btn-primary m-3" (click)="handleToolSave()">Save</button>
        <button class="btn btn-primary m-3" (click)="handleToolCancel()">Cancel</button>
    </div>
    
</div>

<button *ngIf="jmToolToEdit" (click)="handleToolDelete()">Delete</button>
